In [1]:
from MCTS import Card

import numpy as np
import random
import pandas as pd

In [2]:
dfs = []
for i in range(10):
    df = pd.read_csv(f'training_data/df-{i}.csv')
    dfs.append(df)

df = pd.concat(dfs, axis=0)

In [48]:
df = pd.read_csv(f'training_data/df-0.csv')

In [49]:
df

    facing_action  card  opponent_card   prob  game#
0               0     2              0  0.999      0
1               1     0              2  0.000      0
2               0     2              0  0.999      1
3               1     0              2  0.000      1
4               0     1              0  0.000      2
..            ...   ...            ...    ...    ...
95              0     1              2  0.000     59
96              0     1              0  0.000     60
97              0     1              0  0.000     61
98              0     1              2  0.000     62
99              0     0              1  0.700     63

[100 rows x 5 columns]

In [50]:
ix = (df['facing_action'] == 1) & (df['card'] == 1)
df[ix]

    facing_action  card  opponent_card   prob  game#
6               1     1              2  0.142      3
8               1     1              2  0.142      4
15              1     1              2  0.142      8
21              1     1              0  0.142     12
27              1     1              2  0.142     16
31              1     1              2  0.142     18
33              1     1              2  0.142     19
35              1     1              0  0.142     20
41              1     1              0  0.142     23
48              1     1              0  0.142     27
50              1     1              2  0.142     28
53              1     1              2  0.142     30
59              1     1              2  0.142     33
61              1     1              0  0.142     34
67              1     1              2  0.142     39
78              1     1              0  0.142     47
82              1     1              0  0.142     50
87              1     1              2  0.142     53
94              1     1              2  0.142     58

In [51]:
count = df[ix]['opponent_card'].count()
freq = df[ix]['opponent_card'].value_counts() / count

In [53]:
freq

2    0.631579
0    0.368421
Name: opponent_card, dtype: float64

In [52]:
h = freq.loc[2]
std = np.sqrt(h * (1 - h)/count)
std

0.11066473327112565

In [36]:
ix = (df['facing_action'] == 0) & (df['card'] == 0)
df[ix]

     facing_action  card  opponent_card   prob  game#
3                0     0              1  0.364      2
10               0     0              1  0.371      7
15               0     0              1  0.365     10
16               0     0              2  0.364     11
17               0     0              1  0.371     12
22               0     0              2  0.367     15
27               0     0              2  0.545     18
30               0     0              1  0.365     20
34               0     0              2  0.366     22
35               0     0              1  0.364     23
42               0     0              1  0.364     28
44               0     0              2  0.366     29
50               0     0              2  0.364     33
54               0     0              2  0.364     35
56               0     0              1  0.371     36
59               0     0              2  0.368     38
69               0     0              2  0.365     45
74               0     0              2  0.369     49
80               0     0              2  0.360     53
87               0     0              2  0.364     57
88               0     0              1  0.366     58
99               0     0              1  0.362     65
100              0     0              2  0.365     66
106              0     0              2  0.367     69
109              0     0              1  0.365     71
117              0     0              2  0.365     77
125              0     0              1  0.365     83
126              0     0              1  0.365     84
128              0     0              1  0.364     86
137              0     0              2  0.362     91
139              0     0              2  0.365     93
143              0     0              1  0.362     96

In [29]:
ix = (df['facing_action'] == 1) & (df['card'] == 1)
df[ix]

      facing_action  card  opponent_card   prob  game#
1                 1     1              2  0.142      0
3                 1     1              2  0.142      1
11                1     1              2  0.142      6
14                1     1              2  0.142      8
16                1     1              2  0.142      9
...             ...   ...            ...    ...    ...
1537              1     1              0  0.142    987
1539              1     1              0  0.142    988
1541              1     1              2  0.142    989
1545              1     1              0  0.142    992
1555              1     1              0  0.142    999

[290 rows x 5 columns]

In [23]:
import matplotlib.pyplot as plt
data = df
# Plotting the trajectory
plt.figure(figsize=(8, 6))  # Set the figure size
plt.plot(data['p'], data['q'], marker='o', linestyle='-', color='b')  # Line plot with markers
plt.title('Trajectory in p-q Space')  # Title of the plot
plt.xlabel('p')  # Label for the x-axis
plt.ylabel('q')  # Label for the y-axis
plt.grid(True)  # Enable grid for easier readability

# Annotate each point with its order number
for i, (p, q) in enumerate(zip(data['p'], data['q'])):
    plt.text(p, q, str(i), color="red", fontsize=12)

plt.show()  # Display the plot

KeyError: 'p'