In [1]:
from MCTS import Card

import numpy as np
import random
import pandas as pd

In [2]:
dfs = []
for i in range(10):
    df = pd.read_csv(f'training_data/df-{i}.csv')
    dfs.append(df)

df = pd.concat(dfs, axis=0)

In [37]:
df = pd.read_csv(f'training_data/df-0.csv')

In [38]:
df

      facing_action  card  opponent_card   prob  game#
0                 0     1              2  0.000      0
1                 0     0              1  0.365      1
2                 0     2              1  0.999      2
3                 1     1              2  0.333      2
4                 0     1              0  0.000      3
...             ...   ...            ...    ...    ...
1469              1     2              0  0.999    997
1470              0     2              1  0.999    998
1471              1     1              2  0.333    998
1472              0     2              0  0.999    999
1473              1     0              2  0.000    999

[1474 rows x 5 columns]

In [39]:
ix = (df['facing_action'] == 1) & (df['card'] == 1)
df[ix]

      facing_action  card  opponent_card   prob  game#
3                 1     1              2  0.333      2
9                 1     1              0  0.333      6
11                1     1              0  0.333      7
16                1     1              2  0.333     10
22                1     1              2  0.333     13
...             ...   ...            ...    ...    ...
1452              1     1              2  0.333    987
1459              1     1              2  0.333    991
1465              1     1              2  0.333    995
1467              1     1              2  0.333    996
1471              1     1              2  0.333    998

[227 rows x 5 columns]

In [45]:
count = df[ix]['opponent_card'].count()
freq = df[ix]['opponent_card'].value_counts() / count

In [47]:
h = freq.loc[2]
std = np.sqrt(h * (1 - h)/count)
std

0.02894799995631452

In [36]:
ix = (df['facing_action'] == 0) & (df['card'] == 0)
df[ix]

     facing_action  card  opponent_card   prob  game#
3                0     0              1  0.364      2
10               0     0              1  0.371      7
15               0     0              1  0.365     10
16               0     0              2  0.364     11
17               0     0              1  0.371     12
22               0     0              2  0.367     15
27               0     0              2  0.545     18
30               0     0              1  0.365     20
34               0     0              2  0.366     22
35               0     0              1  0.364     23
42               0     0              1  0.364     28
44               0     0              2  0.366     29
50               0     0              2  0.364     33
54               0     0              2  0.364     35
56               0     0              1  0.371     36
59               0     0              2  0.368     38
69               0     0              2  0.365     45
74               0     0              2  0.369     49
80               0     0              2  0.360     53
87               0     0              2  0.364     57
88               0     0              1  0.366     58
99               0     0              1  0.362     65
100              0     0              2  0.365     66
106              0     0              2  0.367     69
109              0     0              1  0.365     71
117              0     0              2  0.365     77
125              0     0              1  0.365     83
126              0     0              1  0.365     84
128              0     0              1  0.364     86
137              0     0              2  0.362     91
139              0     0              2  0.365     93
143              0     0              1  0.362     96

In [29]:
ix = (df['facing_action'] == 1) & (df['card'] == 1)
df[ix]

      facing_action  card  opponent_card   prob  game#
1                 1     1              2  0.142      0
3                 1     1              2  0.142      1
11                1     1              2  0.142      6
14                1     1              2  0.142      8
16                1     1              2  0.142      9
...             ...   ...            ...    ...    ...
1537              1     1              0  0.142    987
1539              1     1              0  0.142    988
1541              1     1              2  0.142    989
1545              1     1              0  0.142    992
1555              1     1              0  0.142    999

[290 rows x 5 columns]

In [23]:
import matplotlib.pyplot as plt
data = df
# Plotting the trajectory
plt.figure(figsize=(8, 6))  # Set the figure size
plt.plot(data['p'], data['q'], marker='o', linestyle='-', color='b')  # Line plot with markers
plt.title('Trajectory in p-q Space')  # Title of the plot
plt.xlabel('p')  # Label for the x-axis
plt.ylabel('q')  # Label for the y-axis
plt.grid(True)  # Enable grid for easier readability

# Annotate each point with its order number
for i, (p, q) in enumerate(zip(data['p'], data['q'])):
    plt.text(p, q, str(i), color="red", fontsize=12)

plt.show()  # Display the plot

KeyError: 'p'